.customers {
  margin: 0 auto;
  width: 1170px;
}
.customers-text {
  text-align: center;
}
.customers-text__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 50px 0 40px;
  padding: 50px 0 0 0;
}
.customers-text__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
}
.customers-icon {
  margin-top: 83px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
.customers-icon-text-lorem {
  background-color: #e2e2e2;
  border-radius: 10px;
  width: 370px;
  height: 180px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #86878b;
}
.customers-icon-text-arrow {
  background-color: #e2e2e2;
  width: 30px;
  height: 30px;
  margin-left: 60px;
  transform: rotate(-45deg);
  position: relative;
  top: -15px;
}
.customers-icon-text-img {
  margin-top: 46px;
  display: inline-block;
}
.customers-icon-text-name {
  vertical-align: top;
  margin-top: 56px;
  margin-left: 30px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
}
.customers-icon-text-rank {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: -15px;
  margin-left: -85px;
}
@media (max-width: 1200px) {
  .customers-icon {
    width: 100%;
  }
  .customers {
    width: 100%;
  }
}
@media (max-width: 838px) {
  .customers-icon {
    display: flex;
    flex-wrap: wrap;
  }
  .customers {
    width: 100%;
  }
}
@media (max-width: 423px) {
  .customers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customers {
    width: 100%;
  }
}
