/* .header {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/image.png");
} */

.axit {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/image.png");
  height: 1026px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.axit-top {
  background-color: black;
  height: 75px;
}
.axit-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.axit-top-title {
  display: inline-flex;
  height: 100%;
  padding-top: 20px;
}
.axit-top-navigation {
  display: flex;
  justify-content: space-between;
}
.axit-top-navigation-link {
  width: 113px;
  height: 75px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.axit-center {
  width: 1170px;
  margin: 0 auto;
}
.axit-center-info {
  width: 670px;
  display: inline-block;
  margin-top: 208px;
}
.axit-center-content {
}
.axit-center-title {
  margin-bottom: 72px;
}
.axit-center-content__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 55px;
}
.axit-center-content__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 42px;
}
.axit-center-content__click {
  transition: 0.3s;
  width: 270px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 auto;
  border: 2px solid white;
  margin-top: 23px;
  margin-bottom: 70px;
}
.axit-center-content__click:hover {
  opacity: 0.5;
}
.axit-center-data {
  display: inline-block;
  width: 470px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 208px;
}
.axit-center-data-title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.axit-center-data-title__one {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #333333;
}
.axit-center-data-title__center {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ec7979;
}
.axit-center-data__one {
  width: 370px;
  height: 38px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  margin-bottom: 50px;
  margin-left: 50px;
}
.axit-center-data__click {
  transition: 0.3s;
  width: 470px;
  height: 60px;
  background-color: #ec7979;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  border: 2px solid #ec7979;
  vertical-align: bottom;
  border-radius: 0px 0px 10px 10px;
  margin-top: 27px;
}
.axit-center-data__click:hover {
  background-color: red;
  border: 2px solid red;
}
.axit-footer {
  background-color: #f8efef;
  height: 140px;
}
.axit-footer-one {
  width: 1170px;
  margin: 0 auto;
}
.axit-footer-title {
  width: 470px;
  display: inline-block;
}
.axit-footer-title__one {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
}
.axit-footer-title__two {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #86878b;
}
.axit-footer-img {
  display: inline-block;
}
.axit-footer-img__O {
  display: inline-block;
  margin: 0 25px 0;
}

@media (max-width: 1200px) {
  .axit {
    height: 100%;
  }
  .axit-container {
    width: 100%;
    justify-content: center;
  }
  .axit-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .axit-top-navigation-link {
    width: 60px;
  }
  .axit-center-info {
    margin: 0 auto;
    width: 100%;
  }

  .axit-center-data {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .axit-center-title {
    margin: 20px 0;
    text-align: center;
  }

  .axit-center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .axit-center-content__title {
    text-align: center;
  }

  .axit-center-content__click {
    margin-bottom: 30px;
  }
  .axit-footer-one {
    width: 100%;
  }
  .axit-footer {
    height: 100%;
  }
  .axit-footer-title {
    width: 100%;
  }
  .axit-center-data {
    width: 380px;
  }
  .axit-center-data__one {
    margin-left: 0px;
    width: 95%;
  }
  .axit-center-data__click {
    width: 100%;
  }
}
