.main {
  width: 100%;
}
.main .container {
  width: 1170px;
  margin: 50px auto;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
}
.container .tab {
}
.tab .tab-one {
  border-right: 1px solid #c6cbcd;
  border-top: 1px solid #c6cbcd;
  border-bottom: 1px solid white;
  border-top-left-radius: 3%;
  text-align: center;
  padding: 10px 77px;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  margin-right: -4px;
}
.tab .tab-two {
  float: none;
  text-align: center;
  padding: 10px 77px;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #c6cbcd;
  margin-right: -4px;
}
.tab .tab-three {
  text-align: center;
  padding: 10px 77px;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #c6cbcd;
  margin-right: -4px;
}
.tab .tab-four {
  text-align: center;
  color: white;
  padding: 10px 278px;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #c6cbcd;
}
.texts {
  width: 690px;
  display: inline-block;
  vertical-align: top;
}
.texts .text__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 33px 100px;
}
.texts .text__subtitle {
  width: 570px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  margin: 27px 25px 27px 100px;
}
.texts .text__click {
  transition: 0.3s;
  width: 270px;
  height: 58px;
  background-color: #ec7979;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 330px 54px 100px;
  display: inline-block;
}
.texts .text__click:hover {
  background-color: red;
}
.img {
  display: inline-block;
  width: 475px;
  height: 500px;
  position: absolute;
  margin-left: 9px;
}
